.darkmode{
    font-size:16px;
    color: white;
    background-color: black;
    border: 2px solid gray;
    margin: 10px;
    padding: 30px;
}
.lightmode{
    font-size:16px;
    color: red;
    background-color: yellow;
    border: 2px solid red;
    margin: 10px;
    padding: 30px;
}
#dark{
    font-size:16px;
    font-weight: bold;
    color: white;
    background-color: black;   
    margin: 5px; 
    border: 2px solid gray;
}
#light{
    font-size:16px;
    font-weight: bold;
    color: red;
    background-color: yellow;   
    margin: 5px; 
    border: 2px solid red;
}
#default{
    font-size:16px;
    font-weight: bold;
    color:black;
    background-color: whitesmoke;   
    margin: 5px; 
    border: 2px solid palevioletred;
}
.center {
    display: flex;
    justify-content: center;         
}